{% extends 'base_security.html.twig' %}
{% block title %}Log in{% endblock %}
{% block body %}
<div class="mt-5 px-12 sm:px-24 md:px-48 lg:px-12 lg:mt-10 xl:px-24 xl:max-w-2xl">
    <h2 class="text-center text-4xl text-deep-orange-700 font-display font-semibold lg:text-left xl:text-5xl xl:text-bold dark:text-white">Log in</h2>
    {% if app.user %}
    <div class="mt-20 mb-3 flex justify-center items-center flex-wrap">
        <p class="dark:text-white block w-full mb-10 tracking-wide leading-relaxed text-xl">You are logged in as {{ app.user.username }}</p>
        <a class="bg-deep-orange-500 text-gray-100 p-4 w-full rounded-full tracking-wide font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-deep-orange-600 shadow text-center" href="{{ path('app_logout') }}">Logout</a>
    </div>
    {% else %}
    <div class="flex mt-7 justify-center w-full">
        <a href="{{path('connect_facebook_start')}}" class="mr-5 bg-blue-500 border-none px-4 py-2 rounded-xl cursor-pointer text-white shadow-lg hover:shadow-inner transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105 font-medium">
            Login with Facebook
        </a>
    </div>
    <div class="flex mt-7 items-center text-center">
        <hr class="border-gray-300 border-1 w-full rounded-md">
        <label class="block font-medium text-sm text-gray-600 w-full">
            or login with email
        </label>
        <hr class="border-gray-300 border-1 w-full rounded-md">
    </div>
    <div class="mt-12" data-controller="security">
        <form method="post">
            {% if error %}
            <div class="bg-red-500 rounded mb-3 px-1 py-2 w-full items-center  font-semibold text-white flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                </svg>
                <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span></div>
            {% endif %}
            <div>
                <div class="text-sm font-medium text-gray-700 dark:text-gray-100 tracking-wide">Email Address</div>
                <input class="mt-2 w-full text-lg py-2 px-2 border-0 border-b-2 border-gray-300 focus:border-deep-orange-500 focus:ring-0 focus:outline-none focus:border-2 dark:bg-gray-400" type="email" autocomplete="email" required autofocus placeholder="seigha@buyersandsellers.ng" value="{{ last_username }}" name="email" id="inputEmail">
            </div>
            <div class="mt-8">
                <div class="flex justify-between items-center">
                    <div class="text-sm font-medium text-gray-700 dark:text-gray-100 tracking-wide">
                        Password
                    </div>
                    <div>
                        <a href="{{ path("app_forgot_password_request")}}" class="text-xs font-display font-semibold text-deep-orange-600 dark:text-white hover:text-deep-orange-800
                                        cursor-pointer">
                            Forgot Password?
                        </a>
                    </div>
                </div>
                <input data-security-target='password' class="mt-2 w-full text-lg py-2 px-2 border-0 border-b-2 border-gray-300 focus:border-deep-orange-500 focus:ring-0 focus:outline-none focus:border-2 dark:bg-gray-400" type="password" name="password" placeholder="Enter your password" autocomplete="current-password" required>
                <div class="flex justify-end -mt-9 mr-2 cursor-pointer" data-action="click->security#togglePasswordShow">
                    <span data-security-target="hide" class="text-gray-800"><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                            <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                        </svg></span>
                    <span data-security-target="show" class="text-gray-800 hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M3.707 2.293a1 1 0 00-1.414 1.414l14 14a1 1 0 001.414-1.414l-1.473-1.473A10.014 10.014 0 0019.542 10C18.268 5.943 14.478 3 10 3a9.958 9.958 0 00-4.512 1.074l-1.78-1.781zm4.261 4.26l1.514 1.515a2.003 2.003 0 012.45 2.45l1.514 1.514a4 4 0 00-5.478-5.478z" clip-rule="evenodd" />
                            <path d="M12.454 16.697L9.75 13.992a4 4 0 01-3.742-3.741L2.335 6.578A9.98 9.98 0 00.458 10c1.274 4.057 5.065 7 9.542 7 .847 0 1.669-.105 2.454-.303z" />
                        </svg>
                    </span>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="mt-10">
                <button class="bg-deep-orange-500 text-gray-100 p-4 w-full rounded-full tracking-wide
                                font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-deep-orange-600
                                shadow-lg hover:shadow-inner transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                    Log In
                </button>
            </div>
        </form>
        <div class="mt-12 text-sm font-display font-semibold text-gray-700 dark:text-white text-center">
            Don't have an account ? <a href="{{ path("app_register")}}" class="cursor-pointer text-deep-orange-600 hover:text-deep-orange-800 dark:text-deep-orange-200">Sign up</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}