{% extends 'base.html.twig' %}
{% block title %}{{ advert }}{% endblock %}
{% block body %}
<div class="content flex flex-wrap justify-between">
    <div class="left md:w-3/4 w-full my-2 rounded-t">
        {% include 'advert/single_ad.html.twig' %}
        <div data-controller="comment" class="comments mt-5 shadow w-full rounded bg-white dark:bg-gray-900 dark:text-gray-100 p-3">
            <h3 class="text-2xl font-semibold tracking-wide leading-relaxed">Comments</h3>
            {% if commentForm is defined %}
            <div class="mb-5">
                {{ form_start(commentForm, {'attr': {'id': 'comment_form', 'data-action':'submit->comment#catch_parent'}}) }}
                {{ form_widget(commentForm.content, {'attr': {'data-id': 'content_form_content'}}) }}
                {{ form_widget(commentForm) }}
                <div class="flex justify-end">
                    <button class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-deep-orange-600 dark:bg-deep-orange-800 hover:bg-deep-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-deep-orange-500">{{ button_label|default('Submit Comment') }}</button>
                </div>
                {{ form_end(commentForm) }}
            </div>
            {% else %}
            <div class="w-full flex justify-end my-1">
                <a class="rounded font-semibold bg-deep-orange-700 hover:bg-deep-orange-600 text-white px-2 py-1 text-white" href="{{ path('app_login')}}">Login to comment</a>
            </div>
            {% endif %}
            <div id="comments-container">
                {% for comment in comments %}
                <div id="comment_{{comment.id}}" class="single-comment flex w-full flex-wrap bg-white dark:bg-gray-800 shadow-xs border dark:border-gray-700 p-3 mb-1">
                    <div class="meta block mb-2">
                        <span class="w-full text-sm font-medium">{{comment.user.fullname}}</span>
                        <span class="w-full text-sm font-light italic"> - {{comment.createdAt|ago_date}}</span>
                    </div>
                    <div class="w-full">
                        {% if comment.parent is not null %}
                        {% set parent = comment.parent %}
                        <a href="{{ path('comment_show', {'id': parent.id }) }}" class="parent bg-gray-200 dark:bg-gray-700 w-full p-5 mb-2 block">
                            <div class="meta block mb-2">
                                <span class="w-full text-sm font-medium">{{parent.user.fullname}} - </span>
                                <span class="w-full text-sm font-light italic">{{parent.createdAt|ago_date}}</span>
                            </div>
                            <div class="w-full">
                                {{ parent.content|nl2br}}
                            </div>
                        </a>
                        {% endif %}
                        {{ comment.content|nl2br}}
                    </div>
                    <div class="actions mt-5 w-full">
                        <a href="{{ path('comment_show', {'id': comment.id })}}" class="justify-end w-full text-sm flex items-center font-semibold text-blue-500 hover:text-deep-orange-600">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.707 3.293a1 1 0 010 1.414L5.414 7H11a7 7 0 017 7v2a1 1 0 11-2 0v-2a5 5 0 00-5-5H5.414l2.293 2.293a1 1 0 11-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span>reply</span>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="paginate-container" class="navigation flex justify-center items-center">
                {% if hasItems == true %}
                {% set nextUrl = path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': next, 'id': advert.id})) %}
                <a data-action="click->comment#nextPage" class="font-semibold mt-5 bg-deep-orange-600 px-3 py-2 hover:bg-deep-orange-700 text-white rounded-full" href="{{ nextUrl }}"> more comments</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="hidden lg:block right w-full md:w-1/5 mt-5 md:mt-2 ">
        {% include 'tag/tags.html.twig' %}
    </div>
</div>
{% endblock %}